.flower-heading {
  border-bottom: 1px solid lightgray;
  margin-bottom: 1%;
  text-align: center;
  font-family: serif;
  color: orange;
}
.flower-content {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  align-items: center;
}
.flower-desc {
  width: 50%;
  margin-left: 1%;
}
.flower-image {
  width: 49%;
}
.flower-image > img {
  width: 100%;
}
